
/* =================================
	UNIVERSAL STYLES
=================================== */
* {
	font-family: sans-serif;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*color: #222;*/
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

li {
	display: inline;
}


/* =================================
	END UNIVERSAL STYLES
=================================== */


/* =================================
	HEADER STYLES
=================================== */

header {
	background-color: #fafafa;
	border-bottom: 1px solid #ebebeb;
}

.logo {
	height: 3.2em;
	position: absolute;
	top: 1.1em;
	left: .65em;
}

input {
	margin-top: 20px;
	margin-left: 9.5em;
	height: 2.7em;
	width: 39em;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
	outline: none;
	border: solid 0.5px #d9d9d9;
	/*background-image: url(../images/magglass.png);
	background-position: 92%;
	background-repeat: no-repeat;
	background-size: 1.4em;*/
	background-image: url(../images/mic.png);
	background-position: 97%;
	background-repeat: no-repeat;
	background-size: 1.45em;
}

#nav-right {
	float: right;
}

.gsuite {
	height: 16px;
	padding-right: 15px;
	position: relative;
	top: -31px;
	right: 34px;
}

.signin {
	font-weight: bold;
	/*text-align: center;*/
	padding: 0, 12px;
	color: #fff;
	border: solid 1px #4285f4;
	background: #4683ea;
	border-radius: 2px;
	line-height: 26px;
	width: 69px;
	font-size: .8em;
	position: relative;
	top: -35px;
	right: 30px;
}

.nav-tabs {
	margin-top: 26px;
	margin-left: 115px;
}

.nav-link {
	font-size: .8em;
	color: #777;
	padding-left: 1.1em;
	padding-right: 1.1em;
	padding-bottom: 1em;
}

.settings {
	padding-left: 7em;
}

.nav-link:hover {
	color: #222;
}

.selected {
	font-weight: bold;
	color: #4285F4;
	border-bottom: solid 3px #4285F4;
}



/* =================================
	END HEADER STYLES
=================================== */


/* =================================
	BODY STYLES
=================================== */

main {
	/*max-width: 45%*/
}

#results-time {
	font-size: .8em;
	color: #808080;
	display: inline-block;
	margin-left: 13.25em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
	font-size: 1.1em;
	font-weight: normal;
	margin-left: 9.75em;
	margin-bottom: -.8em;
	margin-top: 1em;
	max-width: 45%
}

h2 {
	font-size: 1.1em;
	font-weight: normal;
	margin-left: 9.65em;
}

.sub-right {
	max-width: 30%;
	position: absolute;
	left: 20em;
	top: 14.95em;
}

.sub-left {
	max-width: 30%;
	margin-left: 1.75em;
}

.site-blue {
	font-size: .75em;
	position: relative;
	top: -1em;
	left: 16.5em;
}

.description {
	font-size: .8em;
	color: #545454;
	margin-left: 13.3em;
	margin-top: -1em;
	max-width: 35%
}

.webdev {
	margin-top: -.5em;
}

.site-green {
	font-size: .9em;
	color: #006621;
	/*display: inline-block;*/
	margin-left: 11.9em;
	/*margin-top: -1em;*/
}

.related-heading {
	padding-bottom: 1em;
}

.related-searches-left {
	margin-left: 8.2em;
}

.search-items-left {
	display: block;
	padding-top: .5em;
}

.related-searches-right {
	position: absolute;
	left: 25.6em;
	bottom: -6.75em;
}

.search-items-right {
	display: block;
	padding-top: .5em;
}


/* =================================
	END BODY STYLES
=================================== */