
/* =================================
	UNIVERSAL STYLES
=================================== */
body {
	max-width: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #222;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}

li {
	display: inline;
}


/* =================================
	END UNIVERSAL STYLES
=================================== */


/* =================================
	HEADER STYLES
=================================== */

#header {
	background-color: #fafafa;
	border-bottom: 1px solid #ebebeb;
	padding-top: 1.1em;
}

.logo {
	vertical-align: middle;
	padding-left: .55em;
	padding-right: .7em;
}

.search {
	display: inline-block;
	vertical-align: top;
}

#search {
	margin-top: .15em;
	border-radius: 2px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  	background: #fff;
}

#search:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border: none;
}

#search-bar {
	width: 33em;
	padding-top: .3em;
	padding-left: 1em;
	padding-right: .5em;
}

input[name=searchinput] {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #000;
	border: none;
	height: 2em;
	background: transparent;
	width: 100%;
}

#search-voice {
	/*padding: 0 .1em;*/
}

#search-by-voice {
	width: 1.5em;
	line-height: 2.7em;
	/*padding: 0 .1em;*/
}

#voice {
	width: 1.1em;
	background: url(../images/mic.png);
	background-repeat: no-repeat;
	background-position: -.1em 0;
	background-size: 1.5em 1.5em;
	display: inline-block;
	height: 1.5em;
	vertical-align: middle;
}

#search-magglass {
	padding: 0 .3em;
}

#search-by-magglass {
	width: 1.5em;
	line-height: 2.7em;
	padding: 0 .5em;
}

#magglass {
	width: 1.1em;
	background: url(../images/magglass.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 1.1em 1.1em;
	display: inline-block;
	height: 1.5em;
	vertical-align: middle;
}

.buttons {
	display: inline-block;
	vertical-align: middle;
	margin-left: .85em;
	margin-top: .45em;
}

#buttons {
	float: right;
	line-height: 2.5em;
}

#gsuite {
	opacity: .55;
	line-height: 0;
}

#gsuite:hover, #gsuite:focus {
	opacity: .85;
}

#signin {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0 .5em;
	border: solid 1px #4285f4;
	background: #4683ea;
	border-radius: 2px;
	line-height: 2.1em;
	width: 3.95em;
	font-size: .84em;
	margin-right: 2.25em;
}

#signin a {
	color: #fff;
}

#signin a:hover {
	text-decoration: none;
}

#nav-tabs {
	margin-top: 1.2em;
	margin-left: 6.5em;
}

.nav-tabs {
	margin-bottom: -.05em;
}

.nav-link {
	display: inline-block;
	font-size: .8em;
	color: #777;
	margin: 0 .5em;
	padding-left: .5em;
	padding-right: .5em;
}

.settings {
	padding-left: 7.5em;
}

.nav-link:hover {
	color: #222;
	text-decoration: none;
}

.selected {
	font-weight: bold;
	color: #4285F4;
	border-bottom: solid 3px #4285F4;
	padding-bottom: 1em;
	padding-right: 1.2em;
	padding-left: 1.2em;
}



/* =================================
	END HEADER STYLES
=================================== */


/* =================================
	BODY STYLES
=================================== */

main {
	/*max-width: 45%*/
}

#results-time {
	font-size: .8em;
	color: #808080;
	display: inline-block;
	margin-left: 13.25em;
	margin-top: 1em;
	margin-bottom: .5em;
}

h1 {
	font-size: 1.1em;
	font-weight: normal;
	margin-left: 9.75em;
	margin-bottom: -.8em;
	margin-top: 1em;
	max-width: 45%
}

h2 {
	font-size: 1.1em;
	font-weight: normal;
	margin-left: 9.65em;
}

.sub-right {
	max-width: 30%;
	position: absolute;
	left: 20em;
	top: 14.95em;
}

.sub-left {
	max-width: 30%;
	margin-left: 1.75em;
}

.site-blue {
	font-size: .75em;
	position: relative;
	top: -1em;
	left: 16.5em;
}

.description {
	font-size: .8em;
	color: #545454;
	margin-left: 13.3em;
	margin-top: -1em;
	max-width: 35%
}

.webdev {
	margin-top: -.5em;
}

.site-green {
	font-size: .9em;
	color: #006621;
	/*display: inline-block;*/
	margin-left: 11.9em;
	/*margin-top: -1em;*/
}


/* =================================
	END BODY STYLES
=================================== */


/* =================================
	RELATED SEARCHES STYLES
=================================== */

#related-heading {
	padding-top: 1.3em;
	padding-bottom: .7em;
}

#related-searches-left {
	margin-left: 8.2em;
}

.search-items-left {
	display: block;
	padding-top: .5em;
}

#related-searches-right {
	position: absolute;
	left: 25.6em;
	bottom: -15.5em;
}

.search-items-right {
	display: block;
	padding-top: .5em;
}


/* =================================
	END RELATED SEARCHES STYLES
=================================== */


/* =================================
	GOOOOOOOOOOGLE STYLES
=================================== */




/* =================================
	END GOOOOOOOOOOGLE STYLES
=================================== */



/* =================================
	FOOTER STYLES
=================================== */



/* =================================
	END FOOTER STYLES
=================================== */